*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.heading-primary {
  color: #ffffff;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    font-size: 9rem;
    font-weight: 600;
    margin-bottom: 3.5rem; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 6.8rem;
    font-size: 2.8rem;
    letter-spacing: 4px; }

.fa-arrow-down {
  content: '';
  position: absolute;
  top: 25%;
  left: 33%;
  border-bottom: 2px solid #27938e;
  border-right: 2px solid #27938e;
  width: 19.98px;
  height: 19.98px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  color: transparent; }

.header {
  position: relative;
  height: 100vh; }
  .header__arrow-down {
    background: rgba(255, 255, 255, 0.65);
    margin: auto;
    position: absolute;
    top: 86vh;
    right: 0;
    left: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer; }
    .header__arrow-down:hover {
      background: rgba(255, 255, 255, 0.75); }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__rebates:hover {
    color: #74cac5; }
  .header__works:hover {
    color: #74cac5; }
  .header__login:hover {
    color: #74cac5; }
  .header__nav {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding-top: 5rem; }
    .header__nav--item {
      text-decoration: none;
      margin-right: 50px;
      color: #ffffff;
      font-size: 1.6rem; }
      .header__nav--item:not(:last-child) {
        padding-top: 1rem; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.btn__signup {
  background-color: #27938e;
  border: 1px solid #1c6f6b;
  border-radius: 5px;
  color: #FFF;
  padding: .66em 1.33em; }
  .btn__signup:hover {
    color: #74cac5; }

.btn--white {
  background-color: #ffffff;
  color: #27938e;
  text-decoration: none;
  padding: 2rem 7rem;
  border-radius: 7px;
  font-size: 1.7rem;
  transition: all .2s; }
  .btn--white:hover {
    color: #c5e8e7;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.15); }
