// COLOR VARIABLES
$color-primary: #27938e;
$color-white: #ffffff;
$color-grey-dark: #4A4A4C;
$color-pink: #e25460;
$color-hover-link: #74cac5;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;