.btn {

  &--green {
    background: #27938e;
    color: #FFF;
    font-weight: 500;
    font-size: 1.8rem;
    padding: 15px 40px;
    transition: .25s;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background: #1c6f6b;
      color: #FFF;
    }
  }

  &-pink {
    background: #e25461;
    color: #FFF;
    font-weight: 500;
    border-width: 1px;
    border-style: solid;
    padding: 1rem 1.9rem;
    white-space: normal;
    border-color: #e25461;
    border-radius: 4px;
    font-size: 1.8rem;
    cursor: not-allowed;

    @media screen and (max-width: 767px) {
      display: block;
      width: 100%;
      margin-top: -2.5rem;
    }
  }

  &__signup {
    background-color: #27938e;
    border: 1px solid #1c6f6b;
    border-radius: 5px;
    color: #FFF;
    padding: .66em 1.33em;

    &:hover {
      color: $color-hover-link;
    }
  }

  &--white {
    background-color: $color-white;
    color: $color-primary;
    text-decoration: none;
    padding: 1.8rem 7rem;
    border-radius: 4px;
    font-size: 1.7rem;
    transition: all .2s;

    &:hover {
      color: $color-primary-light;
      box-shadow: 0 0 5px 3px rgba(0,0,0,.15);
    }
  }
}

.cta__button {
  font-size: 1.8em;
  padding: 15px 40px;
  -webkit-transition: .25s;
  transition: .25s;
  border-radius: 4px;
  background: #27938e;
  color: #FFF;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    background: #1c6f6b;
    color: #FFF;
  }
}

.cta__container {
  text-align: center;
  padding-top: 6rem;
}

.btn__cta--green {
  text-align: center;
  margin-bottom: 4rem;
}

.navigation__button {
  width: 3rem;
  height: 2rem;
  position: fixed;
  top: 2rem;
  left: 2.4rem;
  border-radius: 50%;
  z-index: 2000;
  text-align: center;
  cursor: pointer;
}

.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 2rem;
  height: 3px;
  background-color: #74cac5;
  display: inline-block;
  opacity: 0.3;
}

.navigation__icon {
  position: relative;
}

.navigation__icon::after {
  top: .8rem;
}

.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}

.move--up {
  top: -0.5rem;
}
.move--up-2 {
  top: -1rem;
}