.btn {

  &__signup {
    background-color: #27938e;
    border: 1px solid #1c6f6b;
    border-radius: 5px;
    color: #FFF;
    padding: .66em 1.33em;

    &:hover {
      color: $color-hover-link;
    }
  }

  &--white {
    background-color: $color-white;
    color: $color-primary;
    text-decoration: none;
    padding: 2rem 7rem;
    border-radius: 7px;
    font-size: 1.7rem;
    transition: all .2s;

    &:hover {
      color: $color-primary-light;
      box-shadow: 0 0 5px 3px rgba(0,0,0,.15);
    }
  }
}