.header {
  position: relative;
  height: 100vh;

  &__arrow-down {
    background: rgba(255,255,255,.65);
    margin: auto;
    position: absolute;
    top: 86vh;
    right: 0;
    left: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;

    &:hover {
      background: rgba(255,255,255,.75);
    }
  }

  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__rebates:hover {
     color: $color-hover-link;
   }

  &__works:hover {
    color: $color-hover-link;
  }

  &__login:hover {
    color: $color-hover-link;
  }

  &__nav {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding-top: 5rem;

    &--item {
        text-decoration: none;
        margin-right: 50px;
        color: $color-white;
        font-size: 1.6rem;

      &:not(:last-child) {
        padding-top: 1rem;
      }
    }
  }
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;

  &__content {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}