.fa-arrow-down {
  content: '';
  position: absolute;
  top: 25%;
  left: 33%;
  border-bottom: 2px solid #27938e;
  border-right: 2px solid #27938e;
  width: 19.98px;
  height: 19.98px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  color: transparent;
}