.section__saving {
  margin: auto;
  max-width: 1200px;
  padding-top: 6rem;

  &--content {
    display: flex;
    margin: auto;
    max-width: 775px;
  }
}

img.ibotta--img {
  margin-right: 4rem;
}

